// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      rfs: false,
      property: font-size,
      class: fs,
      responsive:true,
      values: $font-sizes
    ),
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      responsive:true,
      values: (
        10: .1,
        25: .25,
        30:.3,
        50: .5,
        75: .75,
        100: 1
      )
    ),
    "cursor": (
      property: cursor,
      values: (
        pointer:pointer
      )
    ),
    "top": (
      property: top,
      responsive:true,
      values: (
        0: 0,
        30:30%,
        40:40%,
        50: 50%,
        100: 100%
      )
    ),
    "width": (
      property: width,
      class: w,
      responsive:true,
      values: (
        10:10%,
        25: 25%,
        40:40%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "height": (
      property: height,
      class: h,
      values: (
        10:10%,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "rounded": (
      property: border-radius,
      responsive:true,
      class: rounded,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        circle: 50%,
        pill: $border-radius-pill
      )
    )
  ),
  $utilities
);
