// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      rfs: false,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        10: .1,
        25: .25,
        30:.3,
        50: .5,
        75: .75,
        100: 1
      )
    )
  ),
  $utilities
);
