<div class="col-md-6 d-none d-md-flex gift shadow p-36">
    <div class="d-flex flex-column justify-content-center text-primary-3 ms-16">
        <h2 class="fs-48">會員獨享禮遇</h2>
        <p class="fs-24 fw-bold">
            專屬優惠價<br>
            生日禮<br>
            免費旅遊卷<br>
            信用卡分期、優惠<br>
            快速訂購，旅行說走就走<br>
        </p>

    </div>
</div>