<div class="bg-primary-3">
    <footer class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="fs-16 my-24 my-md-0  text-center">Copyright © 2023 本網站圖片語文案僅供個人作品使用，非商業用途</p>
        <div class="d-flex mb-24 my-md-24">
            <p class="me-8 my-auto text-neutral-1">FOLLOW US</p>
            <div>
                <a class="d-flex align-items-end" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="#619FBB" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_64_495)">
                            <path
                                d="M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z"
                                fill="#619FBB" />
                        </g>
                        <defs>
                            <clipPath id="clip0_64_495">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
    </footer>
</div>