<div class="row mb-60">
    <div class="col-12 col-md-6 mx-auto">
      <ol class="pay-list mt-5 d-flex justify-content-between list-unstyled position-relative">
        <li class="d-flex flex-column align-items-center">
            <p class="number d-flex justify-content-center align-items-center number-active mb-0 border-radius-50"><span class="material-symbols-outlined">
                shopping_cart
                </span></p>
          <p class="fw-bold mb-0">訂單確認</p>
        </li>
        <li class="d-flex flex-column align-items-center">
          <p class="number d-flex justify-content-center align-items-center mb-0 border-radius-50"><span class="material-symbols-outlined">
            credit_card
            </span></p>
          <p class="fw-bold mb-0">結帳付款</p>
        </li>
        <li class="d-flex flex-column align-items-center">
          <p class="number d-flex justify-content-center align-items-center mb-0 border-radius-50"><span class="material-symbols-outlined">
            select_check_box
            </span></p>
          <p class="fw-bold mb-0">訂單結果</p>
        </li>
      </ol>
    </div>
</div>