<div class="sideBar pt-48">
    <div class="container">
        <a href="member.html" class="sideBarLink d-flex align-items-center pt-0">
            <span class="material-symbols-outlined">home</span>
            <span>會員中心首頁</span>
        </a>
        <a href="memberEdit.html" class="sideBarLink d-flex align-items-center pt-0 mt-0">
            <span class="material-symbols-outlined">person</span>
            <span>會員資料修改</span>
        </a>
        <a href="pwdEdit.html" class="sideBarLink d-flex align-items-center">
            <span class="material-symbols-outlined">passkey</span>
            <span>密碼變更</span>
        </a>
        <a href="orderList.html" class="sideBarLink d-flex align-items-center">
            <span class="material-symbols-outlined">shopping_cart</span>
            <span>訂單查詢</span>
        </a>
        <a href="history.html" class="sideBarLink d-flex align-items-center">
            <span class="material-symbols-outlined">order_approve</span>
            <span>歷史訂單</span>
        </a>
    </div>

</div>
