.logo a{
    width: 114.46px;
    height: 48px;
    background-image: url('../images/logo.svg');
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
}

.icon-account{
    border-radius: 50%;
}
