// input[type="text"]{
//     width: 100%; 
// };
h2{
    font-size: 36px;
    @media(min-width:768px){
        font-size: 48px;
    }
}
form {
    font-size: 16px;

    @media (min-width: 768px) {
        font-size: 20px;
    }

}
.dd{
    z-index :-2
}
.focus{
    z-index :-1
}
