.register{

    &-title::before{
        position:absolute;
        top:50%;
        content:"";
        width: 10px;
        height: 80%;
        background-color: #619FBB;
        transform: translate(-20px,-50%);

        @include pad{
            width: 5px;
            transform: translate(-10px,-50%);
        }

    }
}