<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>

</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="img-about d-flex align-items-center">
            <h2 class="ms-28 my-20 my-md-60  ms-md-60 border-start border-dark border-5 ps-8 ps-md-16 title-about">ABOUT US</h2>
        </div>

        <div class="container-fluid mb-108 wrapper">

            <div class="row justify-content-start my-108 d-none d-lg-block ">

                

                <div class="w-50 position-absolute bg-primary-3 bg-opacity-75 shadow p-20 copywriting">
                    <div class="row">
                        <h2 class="col-md-8 col-lg-6 mb-48  text-center fs-48 border-bottom border-primary border-5">發想初衷</h2>
                        <div class="fs-20">
                            <p>在這個充滿無限可能的世界裡，我們為您揭開一幅令人心動的旅程藍圖。「尋找美的旅程，從這裡開始」是我們的口號，旨在為您提供一場前所未有的旅遊體驗。</p>
                            <p>我們深信，每次旅行都是一次尋找的過程，一次沉浸在未知世界的探索。這是一個品味不同風情的契機，也是創造難忘回憶的時刻。無論您是獨自探險、與摯愛同行，還是結伴而行，我們的旅遊網站將是您踏上屬於自己的旅途的引導者。
                            </p>
                            <p> 我們為您精心策劃每個行程，提供豐富的旅遊資訊和可靠的服務，讓您無需煩惱，專心享受每一刻。我們的網站不僅僅是旅行的指南，更是啟發您的創意和好奇心的靈感之源。無論是走訪文化古城，探索自然奇景，或是品味當地美食，我們致力於為您帶來難忘的冒險。
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-12 my-32 position-relative d-none d-lg-block">
                    <div class="row ">
                        <div class="col-md-1 col-lg-2"></div>
                        <div class="col-md-3 col-lg-3 shadow-lg img-2-about img-thumbnail"></div>
                    </div>
                    <div>
                        <div class="col-md-3 shadow-lg img-3-about img-thumbnail"></div>
                    </div>
                </div>

            </div>

            <div class="d-block d-lg-none">
                <h2 class="fs-48 my-32">發想初衷</h2>
                <div class="fs-20">
                    <p>「尋找美的旅程，從這裡開始」。我們的旅遊網站旨在為您提供一個獨特的、豐富的旅行體驗。</p>
                    <p>我們深信每次旅行都是一個探索未知世界的機會，一個品味異國風情的時刻，一個創造難忘回憶的契機。我們通過提供精心策劃的行程、豐富的旅遊資訊和可靠的服務，助您踏上屬於您的獨特旅程。
                    </p>
                    <p> 我們的網站不僅是旅行的指南，更是啟發您的創意、渴望和好奇心的源泉。無論是沉浸在當地文化，還是品味美食之旅，我們的目標是為您帶來一次無比難忘的冒險。讓我們攜手開啟一段璀璨的旅途，發現世界各地的美景、故事和可能性。讓我們一同開始這段旅程，體驗無盡的驚喜和啟發。
                    </p>
                </div>
            </div>

        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>