<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolg</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="blog-img d-flex justify-content-center align-items-center">
            <div class="position-relative w-50 my-60">
                <input class="form-control w-100 text-center rounded-5 bg-neutral-5 bg-opacity-50 " type="text"
                    placeholder="搜尋文章...">
                <a href="#">
                    <span class="material-symbols-outlined position-absolute top-50 end-0 translate-middle">
                        search
                    </span>
                </a>
            </div>
        </div>


        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 my-48 d-flex flex-column justify-content-between">

                    <div class="card my-24 rounded-3 bg-neutral-5 position-relative">
                        <div
                            class="position-absolute top-30 top-lg-40 start-50 translate-middle bg-neutral-1 bg-opacity-50 rounded p-12">
                            <h5 class="text-center fs-24 fs-lg-36 text-neutral-3 fw-bold">泰國必買伴手禮</h5>
                            <p class="text-center fs-16 fs-lg-24 text-neutral-3 ">魷魚片,水果乾,Beauty Buffet</p>
                        </div>

                        <img src="../assets/images/tailand.jpg"
                            class="card-img-top img-left rounded-circle rounded-lg-pill px-12 py-16" alt="tailand">

                        <div class="card-body">
                            <h5 class="card-title">2023最新整理！泰國TOP8必買的伴手禮推薦：魷魚片、各類水果乾、美妝</h5>
                            <p class="card-text">
                                xx旅行 2023-07-06
                                泰國是東南亞國家，以其多元文化、美麗的自然景觀和獨特的傳統藝術聞名。這個國家擁有古老的寺廟、華麗的皇宮、美麗的海灘和壯觀的山脈。泰國飲食文化豐富多樣，泰式料理風味獨特，擁有辛辣的咖哩和清新的生果沙拉。此外，泰國人民熱情友善，這片美麗的土地吸引著來自世界各地的遊客，成為一個難忘的旅遊目的地。
                            </p>
                        </div>

                        <a class="d-flex ps-16 pb-16 fw-bold" href="blogEvent.html">
                            <span class="material-symbols-outlined fw-bold">
                                arrow_forward
                            </span>
                            完整文章
                        </a>

                    </div>

                    <div class="card my-24 rounded-3 bg-neutral-5 position-relative">
                        <div
                            class="position-absolute top-30 top-lg-40 start-50 translate-middle bg-neutral-1 bg-opacity-50 rounded p-12">
                            <h5 class="text-center fs-24 fs-lg-36 text-neutral-3 fw-bold">刺激美國大峽谷</h5>
                            <p class="text-center fs-16 fs-lg-24 text-neutral-3 ">自然界的鬼斧神工秀</p>
                        </div>

                        <img src="../assets/images/park.jpg"
                            class="card-img-top img-left  rounded-circle rounded-lg-pill px-12 py-16" alt="park">

                        <div class="card-body">
                            <h5 class="card-title">2023最新遊記！激發五感的刺激體驗，永生難忘！</h5>
                            <p class="card-text">
                                xx旅行 2023-07-06
                                走上觀景臺，欣賞無垠的峽谷，深不可測的峽谷壁，與陽光交織出多變色彩，令人陶醉其中。冒險者可選擇徒步或乘坐直升機欣賞蔚為壯觀的峽谷全景。黃昏時刻，夕陽映照下，大峽谷的美麗達到巔峰。沉浸於這片天然奇觀，絕對是難忘的體驗，帶給您壯麗與震撼並存的感動。
                            </p>
                        </div>

                        <a class="d-flex ps-16 pb-16 fw-bold" href="#">
                            <span class="material-symbols-outlined fw-bold">
                                arrow_forward
                            </span>
                            完整文章
                        </a>

                    </div>

                    <div class="card my-24 rounded-3 bg-neutral-5 position-relative">
                        <div
                            class="position-absolute top-30 top-lg-40 start-50 translate-middle bg-neutral-1 bg-opacity-50 rounded p-12">
                            <h5 class="text-center fs-24 fs-lg-36 text-neutral-3 fw-bold">歐洲小國深度遊</h5>
                            <p class="text-center fs-16 fs-lg-24 text-neutral-3 ">波羅的海三國的美麗與風情</p>
                        </div>

                        <img src="../assets/images/sea.jpg"
                            class="card-img-top img-left rounded-circle rounded-lg-pill px-12 py-16" alt="sea">

                        <div class="card-body">
                            <h5 class="card-title">波羅的海三小國：愜意、迷人且充滿自然美。</h5>
                            <p class="card-text">
                                xx旅行 2023-07-06
                                深度之旅帶您遠離尋常，探索未知的奧秘。在波羅的海三小國，愛沙尼亞、拉脫維亞和立陶宛，您將感受到悠久的歷史和文化遺產，迷人的自然景觀，以及獨特的當地生活。走進古老的城堡和寺廟，漫步於青翠的森林和湖畔，品味地道的美食，與當地人交流，這趟深度之旅將帶給您難忘的體驗和靈感。
                            </p>
                        </div>

                        <a class="d-flex ps-16 pb-16 fw-bold" href="#">
                            <span class="material-symbols-outlined fw-bold">
                                arrow_forward
                            </span>
                            完整文章
                        </a>

                    </div>

                </div>


                <div class="container d-block d-md-none">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <a class="d-flex justify-content-center align-items-center fs-16 fs-lg-36 mx-16 mx-lg-48" href="#">
                                <span class="material-symbols-outlined fs-16 mx-16">
                                    keyboard_double_arrow_left
                                </span>上一頁</a>
                            <a class="d-flex justify-content-center align-items-center fs-16 fs-lg-36 mx-16 mx-lg-48" href="#">
                                下一頁
                                <span class="material-symbols-outlined fs-16 mx-16">
                                    keyboard_double_arrow_right
                                </span></a>
        
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-4 my-48 d-flex flex-wrap flex-md-column justify-content-between">



                    <div class="d-none d-md-block card rounded-3 bg-neutral-5 my-48">

                        <div class="card-header bg-white text-center p-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="material-symbols-outlined fs-64 text-primary">
                                    emoji_people
                                </span>
                                <h5 class="fs-36 mb-0">我們是誰</h5>
                            </div>
                        </div>
                        <img src="../assets/images/team.jpg" class="card-img-top img-cover" alt="team">

                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title text-center fw-bold">xx旅行遨遊世界</h5>
                            <p class="card-text">
                                穿越時空，遇見未知。我們是時間旅行者，帶您穿梭於歷史與未來的奇妙冒險。
                            </p>
                            <a href="#" class="btn btn-primary w-50 text-neutral-5 fw-bold">更多介紹</a>
                        </div>

                    </div>


                    <div class="d-flex flex-grow-1 flex-wrap flex-md-column justify-content-center justify-content-md-end">

                        <div class="d-block d-md-none card my-24 rounded-3 bg-neutral-5 mx-8 mx-md-0 w-100">

                            <div class="card-header bg-white text-center p-0">
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="material-symbols-outlined fs-64 text-primary">
                                        emoji_people
                                    </span>
                                    <h5 class="fs-16 fs-md-36 mb-0">我們是誰</h5>
                                </div>
                            </div>
                            <img src="../assets/images/team.jpg" class="card-img-top img-cover" alt="team">
    
                            <div class="card-body d-flex flex-column align-items-center">
                                <h5 class="card-title text-center fw-bold">xx旅行遨遊世界</h5>
                                <p class="card-text">
                                    穿越時空，遇見未知。我們是時間旅行者，帶您穿梭於歷史與未來的奇妙冒險。
                                </p>
                                <a href="#" class="btn btn-primary w-100 w-md-50 text-neutral-5 fw-bold">更多介紹</a>
                            </div>
    
                        </div>

                        <div class="card my-24 rounded-3 bg-neutral-5 mx-8 mx-md-0 w-100">

                            <div class="card-header bg-white text-center p-0">
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="material-symbols-outlined fs-64 text-primary">
                                        directions_run
                                    </span>
                                    <h5 class="fs-16 fs-md-36 mb-0">精選旅程</h5>
                                </div>
                            </div>

                            <img src="../assets/images/Shirakawa.jpg" class="card-img-top img-cover" alt="Shirakawa">

                            <div class="card-body d-flex flex-column justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-center">
                                    <h5 class="card-title text-center fw-bold">合掌村夢幻點燈</h5>
                                    <p class="card-text mb-16">
                                    燈祭/戲雪/雪見舟
                                    </p>
                                </div>
                                <a href="#" class="btn btn-primary w-100 w-lg-50 text-neutral-5  fw-bold">7天6夜</a>
                            </div>

                        </div>

                        <div class="card my-24 rounded-3 bg-neutral-5 mx-8 mx-md-0 w-100">


                            <img src="../assets/images/Finland.jpg" class="card-img-top img-cover" alt="Finland">

                            <div class="card-body d-flex flex-column justify-content-between align-items-center">

                                <div class="d-flex flex-column align-items-center">
                                    <h5 class="card-title text-center fw-bold">芬蘭極光奇幻之旅</h5>
                                    <p class="card-text mb-16">
                                        帝王蟹/北極光/赫爾辛基教堂
                                    </p>
                                </div>
                                <a href="#" class="btn btn-primary w-100 w-lg-50 text-neutral-5  fw-bold">13天12夜</a>
                            </div>

                        </div>

                        <div class="card my-24 rounded-3 bg-neutral-5 mx-8 mx-md-0 w-100">


                            <img src="../assets/images/Africa.jpg" class="card-img-top img-cover" alt="Africa">

                            <div class="card-body d-flex flex-column justify-content-between align-items-center">

                                <div class="d-flex flex-column align-items-center">
                                    <h5 class="card-title text-center fw-bold">野性非洲動物嘉年華</h5>
                                    <p class="card-text mb-16">
                                        大草原/野生國家公園/部落文化
                                    </p>
                                </div>
                                <a href="#" class="btn btn-primary w-100 w-lg-50 text-neutral-5  fw-bold">15天14夜</a>
                            </div>

                        </div>

                    </div>



                </div>

            </div>
        </div>


        <div class="container mb-48 d-none d-md-block">
            <div class="row">
                <div class="col-8 d-flex justify-content-center align-items-center">
                    <a class="d-flex justify-content-center align-items-center fs-24 fs-lg-36 mx-36 mx-lg-48" href="#">
                        <span class="material-symbols-outlined fs-24 fs-lg-36 mx-16">
                            keyboard_double_arrow_left
                        </span>上一頁</a>
                    <a class="d-flex justify-content-center align-items-center fs-24 fs-lg-36 mx-36 mx-lg-48" href="#">
                        下一頁
                        <span class="material-symbols-outlined fs-24 fs-lg-36 mx-16">
                            keyboard_double_arrow_right
                        </span></a>

                </div>
            </div>
        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>