<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歷史訂單</title>
    <%- include('./layout/headLink'); -%>
    <script type="module" src="../main.js"></script>
</head>
<body>
    <%- include('./layout/header') -%>
    <div class="img-member d-flex align-items-center">
        <h2 class="ms-28 my-20 my-md-60 ms-md-60 border-start border-dark border-5 ps-8 ps-md-16  title-member">會員中心</h2>
    </div>
    <section class="pwdEdit vh-100">
        <div class="container">
            <div class="d-flex">
                <div>
                    <%- include('./layout/sideBar') -%>
                </div>

                <div class="main w-100 d-flex flex-column justify-content-center align-items-center mt-32">
                    <div class="historyOrders">
                        <h2 class="fs-32 text-center mb-48">歷史訂單</h2>
                        <table class="table styled-table">
                            <thead>
                                <tr>
                                    <th scope="col">訂單編號</th>
                                    <th scope="col">訂單日期</th>
                                    <th scope="col">行程名稱</th>
                                    <th scope="col">訂單內容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>hex-1234567890</td>
                                    <td>2023/07/07</td>
                                    <td>芬蘭極光10日</td>
                                    <td>
                                        <form action="historyOrderDetail.html">
                                            <input type="hidden" name="orderId">
                                            <button type="submit" class="btn btn-primary text-white me-24">查詢更多</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>hex-1234567890</td>
                                    <td>2023/07/07</td>
                                    <td>芬蘭極光10日</td>
                                    <td>
                                        <form action="historyOrderDetail.html">
                                            <input type="hidden" name="orderId">
                                            <button type="submit" class="btn btn-primary text-white me-24">查詢更多</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>hex-1234567890</td>
                                    <td>2023/07/07</td>
                                    <td>芬蘭極光10日</td>
                                    <td>
                                        <form action="historyOrderDetail.html">
                                            <input type="hidden" name="orderId" value="123">
                                            <button type="submit" class="btn btn-primary text-white me-24">查詢更多</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>hex-1234567890</td>
                                    <td>2023/07/07</td>
                                    <td>芬蘭極光10日</td>
                                    <td>
                                        <form action="historyOrderDetail.html">
                                            <input type="hidden" name="orderId" value="123">
                                            <button type="submit" class="btn btn-primary text-white me-24">查詢更多</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>
</body>
</html>