<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <%- include('./layout/headLink'); -%>
    <script type="module" src="../main.js"></script>
</head>
<body>
    <%- include('./layout/header') -%>
    <%- include('./layout/bannerMember') -%>

    <section class="member bg-right-linear">
        <div class="container">        
            <div class="d-flex">
                <div>
                    <%- include('./layout/sideBar') -%>
                </div>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="memberInfo w-100">
                        <h1 class="fs-32 mb-24 mt-32 w-100 text-center fw-bold">會員資料</h1> 
                        <div class="card mx-auto mt-32 w-100-50">
                            <div class="card-body fs-16-20">
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="account" class="col-4 text-end fw-bold">帳號</label>
                                     <div class="col-8">
                                       <input type="text" class="form-control-plaintext" id="account" value="happyfly" readonly>
                                     </div>
                                 </div>
                                <div class="row mb-16 d-flex align-items-center">
                                   <label for="name" class="col-4 text-end fw-bold">中文姓名</label>
                                    <div class="col-8">
                                      <input type="text" class="form-control-plaintext" id="name" value="六角學院學員" readonly>
                                    </div>
                                </div>
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="nameEn" class="col-4 text-end fw-bold">英文姓名</label>
                                     <div class="col-4">
                                       <input type="text" class="form-control-plaintext" id="nameEn" value="hexschool student" readonly>
                                     </div>
                                </div>
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="gender" class="col-4 text-end fw-bold">性別</label>
                                     <div class="col-4">
                                       <input type="text" class="form-control-plaintext" id="gender" value="男/女" readonly>
                                     </div>
                                </div>
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="birthday" class="col-4 text-end fw-bold">出生日</label>
                                     <div class="col-4">
                                       <input type="text" class="form-control-plaintext" id="birthday" value="2023/07/07" readonly>
                                     </div>
                                </div>
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">地址</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control-plaintext" id="address" value="高雄市新興區 X 路 X 號" readonly>
                                    </div>
                                </div>
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">電話</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control-plaintext" id="tel" value="09XX-XXX-XXX" readonly>
                                    </div>
                                </div>       
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">MAIL</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control-plaintext" id="mail" value="hexschool@test.com" readonly>
                                    </div>
                                </div>  
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">飲食限制</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control-plaintext" id="dietaryRestrict" value="葷素皆可" readonly>
                                    </div>
                                </div> 

                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">緊急聯絡姓名</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control-plaintext" id="emergencyName" value="hexschool" readonly>
                                    </div>
                                </div> 
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">緊急聯絡電話</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control-plaintext" id="emergencyTel" value="09XX-XXX-XXX" readonly>
                                    </div>
                                </div> 
                                <div class="row mb-16 d-flex align-items-center">
                                    <label for="address" class="col-4 text-end fw-bold">緊急聯絡關係</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control-plaintext" id="emergencyRelationship" value="魔法師門徒" readonly>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>
</body>
</html>