<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <%- include('./layout/headLink'); -%>
    <script type="module" src="../main.js"></script>
</head>
<body>
    <%- include('./layout/header') -%>
    <%- include('./layout/bannerMember') -%>

    <section class="member bg-right-linear bg-primary-3">
        <div class="container">        
            <div class="d-flex">
                <div>
                    <%- include('./layout/sideBar') -%>
                </div>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="memberInfo w-100 ">
                        <h1 class="fs-32 mb-24 mt-32 w-100 text-center fw-bold">會員資料</h1> 
                        <div class="card mx-auto mt-32 w-100-50 bg-transparent">
                            <div class="card-body">
                                <div class="row mb-0 mb-md-32">
                                    <div class="col-12 col-md-3 text-center mb-16 mb-md-0 d-flex justify-content-center align-items-center">
                                    <img src="../assets/images/image01.png" class="img-fluid rounded-circle w-px-90 h-px-90" alt="member">
                                    </div>
            
                                    <div class="col-12 col-md-9">
                                        <div class="row mb-16 d-flex">
                                            <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-md-18">帳號</span>
                                            <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">happyfly</span>
                                        </div>
                                        <div class="row mb-16 d-flex">
                                            <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-md-18">中文姓名</span>
                                            <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">六角學院學員</span>
                                        </div>
                                        <div class="row mb-16 d-flex">
                                            <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-md-18">英文姓名</span>
                                            <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">hexschool student</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">性別</span>
                                        <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">男/女</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">地址</span>
                                        <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">高雄市新興區 X 路 X 號</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">電話</span>
                                        <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">09XX-XXX-XXX</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">MAIL</span>
                                        <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">hexschool@test.com</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">飲食限制</span>
                                        <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">葷素皆可</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-5 col-md-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">緊急聯絡姓名</span>
                                        <span class="col-7 col-md-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">hexschool</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-5 col-md-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">緊急聯絡電話</span>
                                        <span class="col-7 col-md-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">09XX-XXX-XXX</span>
                                    </div>
                                </div>

                                <div class="row mb-16">
                                    <div class="col-12 d-flex">
                                        <span class="col-5 col-md-4 input-group-text border-0 bg-transparent ps-0 fs-16 fs-md-18">緊急聯絡關係</span>
                                        <span class="col-7 col-md-8 input-group-text border-0 bg-transparent fs-16 fs-md-18">魔法師門徒</span>
                                    </div>
                                </div>

                            </div>  


                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>
</body>
</html>