<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>付款資料填寫</title>
    <%- include('./layout/headLink'); -%>
    <script type="module" src="../main.js"></script>
</head>
<body class="vh-100">
    <%- include('./layout/header') -%>
    <%- include('./layout/bannerMember') -%>
    
    <section class="paymentInfo bg-primary-3 w-100">
        <div class="container">
            <div class="d-flex">
                <div>
                    <%- include('./layout/sideBar') -%>
                </div>

                <div class="main w-100 d-flex flex-column align-items-center">
                    <div class="w-100 d-flex flex-column align-items-center mb-64">
                        <h1 class="fs-32 mb-24 pb-24 mt-32 w-100 text-center">請填寫付款資料</h1>  
    
                        <form action="orderList.html" class="w-100 w-md-50 needs-validation" novalidate>  
                             <div class="row mb-16 d-flex align-items-center">
                                <div class="input-group mb-16">
                                    <span class="input-group-text" id="bankName">銀行</span>
                                    <input type="text" class="form-control" id="bankName" placeholder="000 富邦" aria-label="bankName" aria-describedby="bankName" required>
                                    <span id="bankNameFeedback" class="invalid-feedback">請輸入銀行名稱</span>
                                </div>
                                <div class="input-group mb-16">
                                    <span class="input-group-text" id="nickName">暱稱</span>
                                    <input type="text" class="form-control" placeholder="六角學院學員" aria-label="nickName" aria-describedby="nickName" required>
                                    <span id="nickNameFeedback" class="invalid-feedback">請輸入匿稱</span>
                                </div>
                                <div class="input-group mb-16">
                                    <span class="input-group-text" id="bankAccount">銀行帳號</span>
                                    <input type="text" class="form-control" id="bankAccount" placeholder="請輸入銀行帳號"  aria-label="bankAccount" aria-describedby="bankAccount" required>
                                    <span id="bankAccountFeedback" class="invalid-feedback">請輸入銀行帳號</span>
                                </div>
                                <div class="input-group mb-16">
                                    <span class="input-group-text" id="date">日期</span>
                                    <input type="date" class="form-control" id="date" aria-label="date" aria-describedby="date" required>
                                    <span id="dateFeedback" class="invalid-feedback">請輸入日期</span>
                                </div>
                                <div class="input-group mb-16">
                                    <span class="input-group-text" id="securityCode">安全碼</span>
                                    <input type="text" class="form-control" id="securityCode" placeholder="請輸入安全碼" aria-label="securityCode" aria-describedby="securityCode" required>
                                    <span id="securityCodeFeedback" class="invalid-feedback">請輸入安全碼</span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary text-white me-24" data-bs-backdrop="static">送出</button>

                                    <div class="modal fade" id="submitModal1" tabindex="-1"
                                                aria-labelledby="submitModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-1 ms-auto">
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="d-flex justify-content-center">
                                                                    <div class="d-flex justify-content-center align-items-center bg-primary-2 success-icon">
                                                                        <span
                                                                            class="material-symbols-outlined">
                                                                            Done
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <h2 class="text-center my-12 my-md-24 success-text">填寫成功</h2>
                                                            <div class="col-8 m-auto mb-12 mb-md-24">
                                                                <div class="d-flex justify-content-around">
                                                                    <button type="button" id="ok" class="btn btn-primary text-neutral-5 lead-index d-block text-center mx-4">確定</button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="submitModal2" tabindex="-1"
                                                            aria-labelledby="submitModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-1 ms-auto">
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="d-flex justify-content-center">
                                                                    <div class="d-flex justify-content-center align-items-center pink fail-icon">
                                                                        <span
                                                                            class="material-symbols-outlined">
                                                                            Close
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <h2 class="text-center my-12 my-md-24 fail-text">填寫失敗</h2>
                                                            <div class="col-8 m-auto mb-12 mb-md-24">
                                                                <div class="d-flex justify-content-around">
                                                                    <div class="d-flex justify-content-around">
                                                                        <button type="button" id="ok2" class="btn btn-primary text-neutral-5 lead-index d-block text-center mx-4">確定</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button type="reset" class="btn btn-primary text-white">清除</button>
                                </div>
                        </form>
                    </div>
    
                    <div class="mt-64 w-100 w-md-75">
                        <h2 class="fs-32 text-center mb-24">付款資訊列表</h2>
                        <table class="table styled-table">
                            <thead>
                                <tr>
                                    <th scope="col">銀行</th>
                                    <th scope="col">暱稱</th>
                                    <th scope="col">帳號</th>
                                    <th scope="col">日期</th>
                                    <th scope="col">安全碼</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>富邦</td>
                                    <td>六角學院學員</td>
                                    <td>123***456</td>
                                    <td>2023/07/07</td>
                                    <td>***</td>
                                    <td>
                                        <form action="#">
                                            <input type="hidden" name="paymentId">
                                            <button type="submit" class="btn btn-primary text-white me-24">刪除</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script>
        $('.needs-validation').each(function(index) {
              var form = $(this);
              form.on('submit', function(e) {
                  e.preventDefault();
                  form.addClass('was-validated');
                  
                  if (form[0].checkValidity()) {
                    $("#submitModal1").modal("show");

                    $("#ok").click(function(){
                        $("#submitModal1").modal("hide");
                     }
                    );

                    setTimeout(function(){
                      $("#submitModal1").modal("hide");
                    },5000);
                    /* setTimeout(function(){
                      window.location.href = "orderList.html";
                    },3000); */
                  } else {
                    $("#submitModal2").modal("show");

                    $("#ok2").click(function(){
                        $("#submitModal2").modal("hide");
                     }
                    ); 

                   /*  $("#ok2").click(function(){
                        var clickedButton = $(this);
                        var modal = clickedButton.closest(".modal");
                        modal.modal("hide");
                     }) */
  
                    setTimeout(function(){
                      $("#submitModal2").modal("hide");
                    },5000);
                  }
              });
          });
    </script>

    <%- include('./layout/footer'); -%>
</body>
</html>