<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密碼變更</title>
    <%- include('./layout/headLink'); -%>
    <script type="module" src="../main.js"></script>
</head>
<body>
    <%- include('./layout/header') -%>
    <%- include('./layout/bannerMember') -%>

    <section class="pwdEdit bg-right-linear vh-100 bg-primary-3">
        <div class="container">
            <div class="d-flex ">
                <div>
                    <%- include('./layout/sideBar') -%>
                </div>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fs-32 mb-24 pb-24 mt-32 w-100 text-center fw-bold">密碼變更</h1>  

                    <form action="member.html" class="mt-20 needs-validation bg-transparent w-100 w-md-50" novalidate data-aos="fade-up" data-aos-duration="1000">
                        <div class="row mb-0 mb-md-32">
                          <div class="col-12 col-md-3 text-center mb-16 mb-md-0 d-flex justify-content-center align-items-center">
                            <img src="../assets/images/image01.png" class="img-fluid rounded-circle w-px-90 h-px-90" alt="member">
                          </div>
  
                          <div class="col-12 col-md-9">
                            <div class="row mb-16 d-flex">
                              <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-18">帳號</span>
                              <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-18">happyfly</span>
                            </div>
                            <div class="row mb-16 d-flex">
                              <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-18">中文姓名</span>
                              <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-18">六角學院學員</span>
                            </div>
                            <div class="row mb-16 d-flex">
                              <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-18">英文姓名</span>
                              <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-18">hexschool student</span>
                            </div>
                           
                          </div>
                        </div>
  
                        <div class="row mb-16">
                          <label for="newPassword" class="col-4 form-label input-group-text border-0 bg-transparent fs-16 fs-18">新密碼</label>
                          <div class="col-8">
                            <div class="input-group">
                              <input type="password" class="form-control" placeholder="請輸入新密碼" aria-label="請輸入新密碼" id="newPassword" required>
                              <span id="newPasswordFeedback" class="invalid-feedback">請輸入新密碼</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-16">
                          <label for="newPassword2" class="col-4 form-label input-group-text border-0 bg-transparent fs-16 fs-18">新密碼確認</label>
                          <div class="col-8">
                            <div class="input-group">
                              <input type="password" class="form-control" placeholder="請再輸入一次新密碼" aria-label="請再輸入一次新密碼" id="newPassword2" required>
                              <span id="newPassword2Feedback" class="invalid-feedback">請再輸入一次新密碼</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-16">
                          <label for="oldPassword" class="col-4 form-label input-group-text border-0 bg-transparent fs-16 fs-18">舊密碼</label>
                          <div class="col-8">
                            <div class="input-group">
                              <input type="password" class="form-control" placeholder="請輸入舊密碼" aria-label="請輸入舊密碼" id="oldPassword" required>
                              <span id="oldPasswordFeedback" class="invalid-feedback">請輸入舊密碼</span>
                            </div>
                          </div>
                        </div>
                        
                        <div class="d-flex justify-content-center pt-16 pb-16"><button type="submit" src="member.html" class="btn btn-lg btn-primary text-white me-16">修改密碼</button>

                        <div class="modal fade" id="editModal1" tabindex="-1"
                                                aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-1 ms-auto">
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="d-flex justify-content-center align-items-center bg-primary-2 success-icon">
                                                            <span
                                                                class="material-symbols-outlined">
                                                                Done
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h2 class="text-center my-12 my-md-24 success-text">成功</h2>
                                                <div class="col-8 m-auto mb-12 mb-md-24">
                                                    <div class="d-flex justify-content-around">
                                                      <button type="button" id="ok" class="btn btn-primary text-neutral-5 lead-index d-block text-center mx-4">確定</button>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editModal2" tabindex="-1"
                                                aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-1 ms-auto">
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="d-flex justify-content-center align-items-center pink fail-icon">
                                                            <span
                                                                class="material-symbols-outlined">
                                                                Close
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h2 class="text-center my-12 my-md-24 fail-text">失敗</h2>
                                                <div class="col-8 m-auto mb-12 mb-md-24">
                                                    <div class="d-flex justify-content-around">
                                                      <button type="button" id="ok2" class="btn btn-primary text-neutral-5 lead-index d-block text-center mx-4">確定</button>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                          
                          <button type="reset" class="btn btn-lg btn-primary text-white">清除</button></div>
                        
                      </form>                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
      $('.needs-validation').each(function(index) {
            var form = $(this);
            form.on('submit', function(e) {
                e.preventDefault();
                form.addClass('was-validated');
                
                if (form[0].checkValidity()) {
                  $("#editModal1").modal("show");

                  $("#ok").click(function(){
                      $("#editModal1").modal("hide");
                   }
                  );

                  setTimeout(function(){
                    $("#editModal1").modal("hide");
                  },5000);
                  /* setTimeout(function(){
                    window.location.href = "orderList.html";
                  },3000); */
                } else {
                  $("#editModal2").modal("show");

                  $("#ok2").click(function(){
                      $("#editModal2").modal("hide");
                   }
                  ); 

                  setTimeout(function(){
                    $("#editModal2").modal("hide");
                  },5000);
                }
            });
        });
    </script>

    <%- include('./layout/footer'); -%>
</body>
</html>