<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密碼變更</title>
    <%- include('./layout/headLink'); -%>
    <script type="module" src="../main.js"></script>
</head>
<body>
    <%- include('./layout/header') -%>
    <%- include('./layout/bannerMember') -%>

    <section class="pwdEdit bg-right-linear vh-100 bg-primary-3">
        <div class="container">
            <div class="d-flex ">
                <div>
                    <%- include('./layout/sideBar') -%>
                </div>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fs-32 mb-24 pb-24 mt-32 w-100 text-center fw-bold">密碼變更</h1>  

                    <form action="member.html" class="mt-20 needs-validation bg-transparent w-100 w-md-50" novalidate data-aos="fade-up" data-aos-duration="1000">
                        <div class="row mb-0 mb-md-32">
                          <div class="col-12 col-md-3 text-center mb-16 mb-md-0 d-flex justify-content-center align-items-center">
                            <img src="../assets/images/image01.png" class="img-fluid rounded-circle w-px-90 h-px-90" alt="member">
                          </div>
  
                          <div class="col-12 col-md-9">
                            <div class="row mb-16 d-flex">
                              <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-18">帳號</span>
                              <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-18">happyfly</span>
                            </div>
                            <div class="row mb-16 d-flex">
                              <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-18">中文姓名</span>
                              <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-18">六角學院學員</span>
                            </div>
                            <div class="row mb-16 d-flex">
                              <span class="col-4 input-group-text border-0 bg-transparent fs-16 fs-18">英文姓名</span>
                              <span class="col-8 input-group-text border-0 bg-transparent fs-16 fs-18">hexschool student</span>
                            </div>
                           
                          </div>
                        </div>
  
                        <div class="row mb-16">
                          <label for="newPassword" class="col-4 form-label input-group-text border-0 bg-transparent fs-16 fs-18">新密碼</label>
                          <div class="col-8">
                            <div class="input-group">
                              <input type="password" class="form-control" placeholder="請輸入新密碼" aria-label="請輸入新密碼" id="newPassword" required>
                              <span id="newPasswordFeedback" class="invalid-feedback">請輸入新密碼</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-16">
                          <label for="newPassword2" class="col-4 form-label input-group-text border-0 bg-transparent fs-16 fs-18">新密碼確認</label>
                          <div class="col-8">
                            <div class="input-group">
                              <input type="password" class="form-control" placeholder="請再輸入一次新密碼" aria-label="請再輸入一次新密碼" id="newPassword2" required>
                              <span id="newPassword2Feedback" class="invalid-feedback">請再輸入一次新密碼</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-16">
                          <label for="oldPassword" class="col-4 form-label input-group-text border-0 bg-transparent fs-16 fs-18">舊密碼</label>
                          <div class="col-8">
                            <div class="input-group">
                              <input type="password" class="form-control" placeholder="請輸入舊密碼" aria-label="請輸入舊密碼" id="oldPassword" required>
                              <span id="oldPasswordFeedback" class="invalid-feedback">請輸入舊密碼</span>
                            </div>
                          </div>
                        </div>
  
                        
                        <div class="d-flex justify-content-center pt-16 pb-16"><button type="submit" src="member.html" class="btn btn-lg btn-primary text-white me-16">修改密碼</button><button type="reset" class="btn btn-lg btn-primary text-white">清除</button></div> 
                      </form>                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
      $('.needs-validation').each(function(index) {
            var form = $(this);
            form.on('submit', function(e) {
                e.preventDefault();
                form.addClass('was-validated');

                if(form[0].checkValidity()){
                    window.open("member.html");
                } 

            });
        });
    </script>

    <%- include('./layout/footer'); -%>
</body>
</html>