<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員註冊</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">

            <h2 class="register-title text-center my-md-48 fs-24 fs-md-48 position-relative">會員註冊</h2>


            <form action="#" class="fs-16 fs-md-20 needs-validation"  novalidate>
                <div class="row">

                    <div class="col-12 col-md-6 mb-36">

                        <div class="row">

                            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center  mb-16">
                                <label class="text-nowrap" for="firstname_che">中文姓</label>
                            </div>

                            <div class="col-12 col-md-6 ">
                                <input class="form-control" type="text" name="firstname_che" placeholder="請輸入中文"
                                    id="firstname_che">
                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-6 mb-36">
                        <div class="row ">
                            <div class="col-12 col-md-4  d-flex align-items-center justify-content-center mb-16">
                                <label for="firstname_che">名</label>
                            </div>
                            <div class="col-12 col-md-6">
                                <input class="form-control" type="text" name="lastname_che" placeholder="請輸入中文"
                                    id="lastname_che">
                            </div>
                        </div>
                    </div>


                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="name_eng">英文名</label>

                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control col-8 col-md-9" type="text" name="name_eng" placeholder="請輸入英文"
                            id="name_eng">
                    </div>




                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="gender">性別</label>

                    <div class="col-12 col-md-9 mb-36">
                        <div class="row px-12">

                            <div class="form-check col-6 col-md-2 d-flex justify-content-center">
                                <input class="form-check-input" type="radio" name="gender" id="female">
                                <label class="form-check-label" for="female">
                                    女
                                </label>
                            </div>

                            <div class="form-check col-6 col-md-2 d-flex justify-content-center">
                                <input class="form-check-input" type="radio" name="gender" id="male">
                                <label class="form-check-label" for="male">
                                    男
                                </label>
                            </div>

                        </div>

                    </div>





                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="identity_card">身分證</label>
                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="text" name="identity_card" placeholder="請輸入英文及數字"
                            id="identity_card">
                    </div>



                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="birthday">出生日</label>

                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="date" id="birthday" name="birthday">
                    </div>




                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="address">地址</label>
                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="text" name="address" placeholder="請輸入中文" id="address">
                    </div>



                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="phone">PHONE</label>

                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="tel" maxlength="10" oninput="value=value.replace(/[^\d]/g,'')"
                            name="phone" placeholder="請輸入數字" id="phone">
                    </div>





                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="mail">MAIL</label>
                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="email" name="mail" placeholder="請輸入英文及數字" id="mail">
                    </div>





                    <label class="col-12 col-md-3 text-center text-nowrap mb-16" for="notice">飲食限制</label>
                    <div class="col-12 col-md-9 mb-36">
                        <textarea class="form-control" name="notice" id="notice" cols="30" rows="10">
                        </textarea>
                    </div>




                    <label class="col-12 col-md-3 text-center text-nowrap mb-md-36 mb-16" for="connection_name">緊急聯絡人姓名</label>
                    <!-- <div class="col-12 d-md-none"></div> -->
                    <!-- <div class="col-4 d-md-none"></div> -->
                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="text" name="connection_name" placeholder="請輸入中文"
                            id="connection_name">
                    </div>


                    <label class="col-12 col-md-3 text-center text-nowrap mb-md-36 mb-16"
                        for="connection_phone">緊急聯絡人電話</label>
<!-- 
                    <div class="col-12 d-md-none"></div>
                    <div class="col-4 d-md-none"></div> -->
                    <div class="col-12 col-md-9 mb-36">
                        <input class="form-control" type="text" maxlength="10"
                            oninput="value=value.replace(/[^\d]/g,'')" name="connection_phone" placeholder="請輸入數字"
                            id="connection_phone">
                    </div>




                    <label class="col-12 col-md-3 text-center text-nowrap mb-md-36 mb-16" for="relationship">緊急聯絡人關係</label>
<!-- 
                    <div class="col-12 d-md-none"></div>
                    <div class="col-4 d-md-none"></div> -->
                    <div class="col-12 col-md-9 mb-36">
                        <select class="form-select" name="relationship" id="relationship">
                            <option selected>請選擇關係</option>
                            <option value="father">父</option>
                            <option value="mather">母</option>
                            <option value="others">其他</option>
                        </select>
                    </div>




                    <div class="row justify-content-center my-36 ">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary text-neutral-5 fw-bold" type="submit">確認</button>
                        </div>
                    </div>


                </div>
            </form>



        </div>


        <%- include('./layout/footer'); -%>



            <script type="module" src="../main.js"></script>

</body>

</html>