<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>會員註冊</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">

            <h2 class="text-center my-48 fs-36 fs-md-48">會員註冊</h2>


            <form action="#" class="fs-16 fs-md-20 needs-validation"  novalidate>
                <div class="row">
                    <div class="col-12 col-md-6 mb-36">
                        <div class="row">

                            <div class="col-4 col-md-6 d-flex align-items-center justify-content-center">
                                <label class="text-nowrap" for="firstname_che">中文姓</label>
                            </div>

                            <div class="col-8 col-md-6">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="firstname_che" placeholder="EX: 王"
                                    id="firstname_che" required>
                                    <span id="firstname_cheFeedback" class="invalid-feedback">請輸入中文姓</span>
                                </div>
                                
                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-6 mb-36">
                        <div class="row ">
                            <div class="col-4 col-md-4  d-flex align-items-center justify-content-center">
                                <label for="firstname_che">名</label>
                            </div>
                            <div class="col-8 col-md-6">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="lastname_che" placeholder="EX: 小東"
                                    id="lastname_che" required>
                                    <span id="lastname_cheFeedback" class="invalid-feedback">請輸入中文名</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="name_eng">英文名</label>

                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control col-8 col-md-9" type="text" name="name_eng" placeholder="EX: WANG SIAO-DONG"
                            id="name_eng" required>
                            <span id="name_engFeedback" class="invalid-feedback">請輸入英文名</span>
                        </div>
                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="account">帳號</label>

                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control col-8 col-md-9" type="text" name="account" placeholder="EX: hexschool"
                            id="account" required>
                            <span id="accountFeedback" class="invalid-feedback">請輸入帳號</span>
                        </div>
                        
                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="password">密碼</label>

                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control col-8 col-md-9" type="password" name="password" placeholder="請輸入密碼"
                            id="password" required>
                            <span id="passwordFeedback" class="invalid-feedback">請輸入密碼</span>
                        </div>
                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="gender">性別</label>

                    <div class="col-8 col-md-9 mb-36">
                        <div class="row px-12">
                            <div class="input-group">
                                <div class="form-check col-6 col-md-2">
                                    <input class="form-check-input" type="radio" name="gender" id="female" required>
                                    <label class="form-check-label" for="female">
                                        女
                                    </label>
                                </div>
    
                                <div class="form-check col-6 col-md-2">
                                    <input class="form-check-input" type="radio" name="gender" id="male" required>
                                    <label class="form-check-label" for="male">
                                        男
                                    </label>
                                </div>
                            </div>
                            

                        </div>

                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="identity_card">身分證</label>
                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control" type="text" name="identity_card" placeholder="EX: A123456789"
                            id="identity_card" required>
                            <span id="identity_cardFeedback" class="invalid-feedback">請輸入身分證字號</span>
                        </div>
                        
                    </div>



                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="birthday">出生日</label>

                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control" type="date" id="birthday" name="birthday" required>
                            <span id="birthdayFeedback" class="invalid-feedback">請輸入生日</span>
                        </div>
                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="address">地址</label>
                    <div class="col-8 col-md-9 mb-36">
                        <div class="col-8 col-md-9 mb-36">
                            <div class="input-group">
                                <input class="form-control" type="text" name="address" placeholder="EX: XX市XX區XX路XX號XX樓" id="address" required>
                                <span id="addressFeedback" class="invalid-feedback">請輸入地址</span>
                            </div>
                        </div> 
                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="phone">PHONE</label>

                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control" type="tel" maxlength="10" oninput="value=value.replace(/[^\d]/g,'')"
                            name="phone" placeholder="EX: 0912345678" id="phone" required>
                            <span id="phonefeedback" class="invalid-feedback">請輸入電話</span>
                        </div>
                        
                    </div>


                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="mail">MAIL</label>
                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <input class="form-control" type="email" name="mail" placeholder="EX: test@test.com" id="mail" required>
                            <span id="mailFphoneck" class="invalid-feedback">請輸入電話</span>
                        </div>
                    </div>


                    <label class="col-4 col-md-3 text-center text-nowrap mb-36" for="notice">飲食限制</label>
                    <div class="col-8 col-md-9 mb-36">
                        <div class="input-group">
                            <textarea class="form-control" name="notice" id="notice" cols="30" rows="10">
                            </textarea>
                        </div>
                        
                    </div>




                    <label class="col-4 col-md-3 text-center text-nowrap mb-md-36" for="connection_name">緊急聯絡人姓名</label>
                    <div class="col-12 d-md-none"></div>
                    <div class="col-4 d-md-none"></div>
                    <div class="col-8 col-md-9">
                        <div class="input-group">
                            <input class="form-control" type="text" name="connection_name" placeholder="EX: 王小西"
                            id="connection_name" required>
                            <span id="connection_namefeedback" class="invalid-feedback">請輸入緊急聯絡人姓名</span>
                        </div>
                        
                    </div>


                    <label class="col-4 col-md-3 text-center text-nowrap mb-md-36"
                        for="connection_phone">緊急聯絡人電話</label>

                    <div class="col-12 d-md-none"></div>
                    <div class="col-4 d-md-none"></div>
                    <div class="col-8 col-md-9">
                        <div class="input-group">
                            <input class="form-control" type="text" maxlength="10"
                            oninput="value=value.replace(/[^\d]/g,'')" name="connection_phone" placeholder="EX: 0987654321"
                            id="connection_phone" required>
                            <span id="connection_phonefeedback" class="invalid-feedback">請輸入緊急聯絡人電話</span>
                        </div>
                        
                    </div>

                    <label class="col-4 col-md-3 text-center text-nowrap mb-md-36" for="relationship">緊急聯絡人關係</label>

                    <div class="col-12 d-md-none"></div>
                    <div class="col-4 d-md-none"></div>
                    <div class="col-8 col-md-9">
                        <div class="input-group">
                            <select class="form-select" name="relationship" id="relationship" required>
                                <option selected>請選擇關係</option>
                                <option value="father">父</option>
                                <option value="mather">母</option>
                                <option value="others">其他</option>
                            </select>
                        </div>
                        
                    </div>

                    <div class="row justify-content-center my-36 ">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary text-neutral-5 fw-bold me-16" type="submit">確認</button>

                            <div class="modal fade" id="submitModal1" tabindex="-1"
                            aria-labelledby="submitModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-1 ms-auto">
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="d-flex justify-content-center align-items-center bg-primary-2 success-icon">
                                                                <span
                                                                    class="material-symbols-outlined">
                                                                    Done
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h2 class="text-center my-12 my-md-24 success-text">註冊成功</h2>
                                                    <div class="col-8 m-auto mb-12 mb-md-24">
                                                        <div class="d-flex justify-content-around">
                                                            <button type="button" id="ok" class="btn btn-primary text-neutral-5 lead-index d-block text-center mx-4">前往會員中心</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="submitModal2" tabindex="-1"
                                                    aria-labelledby="submitModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-1 ms-auto">
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="d-flex justify-content-center align-items-center pink fail-icon">
                                                                <span
                                                                    class="material-symbols-outlined">
                                                                    Close
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h2 class="text-center my-12 my-md-24 fail-text">註冊失敗</h2>
                                                    <div class="col-8 m-auto mb-12 mb-md-24">
                                                        <div class="d-flex justify-content-around">
                                                            <div class="d-flex justify-content-around">
                                                                <button type="button" id="ok2" class="btn btn-primary text-neutral-5 lead-index d-block text-center mx-4">確定</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary text-neutral-5 fw-bold" type="reset">清除</button>
                        </div>
                    </div>


                </div>
            </form>



        </div>


        <%- include('./layout/footer'); -%>

        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

        <script>
            $('.needs-validation').each(function(index) {
                  var form = $(this);
                  form.on('submit', function(e) {
                      e.preventDefault();
                      form.addClass('was-validated');
                      
                      if (form[0].checkValidity()) {
                        $("#submitModal1").modal("show");
    
                        $("#ok").click(function(){
                            window.location.href = "member.html";
                         }
                        );
    
                        setTimeout(function(){
                            window.location.href = "member.html";
                        },5000);
                        /* setTimeout(function(){
                          window.location.href = "orderList.html";
                        },3000); */
                      } else {
                        $("#submitModal2").modal("show");
    
                        $("#ok2").click(function(){
                            $("#submitModal2").modal("hide");
                         }
                        ); 
    
      
                        setTimeout(function(){
                          $("#submitModal2").modal("hide");
                        },5000);
                      }
                  });
              });
        </script>

            <script type="module" src="../main.js"></script>

</body>

</html>